$(".todo-container").append(
  "<div class='col-md-4 post'>"
    +"<%=j link_to image_tag('delete_cross.png', class: 'delete-icon'), @note, method: :delete, class:'delete-link' %>"
    +"<p> <%= @note.text %> </p>"
  +"</div>"
);
