<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<div class="board row">
  <div class="header">
    <div class="col-md-4" > To Do </div>
    <div class="col-md-4"> Progress </div>
    <div class="col-md-4"> Done </div>
  </div>
  <div class= "todo-container">
      <% @notes.each do |note| %>
      <div class="col-md-4 post">
          <%= link_to image_tag("delete_cross.png", class: "delete-icon"), note, method: :delete, class:"delete-link" %>
          <p> <%= note.text %> </p>
      </div>
      <%end%>
  </div>
</div>


<br>
<%= render 'form'%>
<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
